################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.import
/.mono
/.vs
/icon.png.import
